* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #363337;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 350px;
    margin-right: 50px;

}
 .container h1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    position: relative;
    max-width: calc(100% - 120px); /* Adjust the value as needed based on your image width and margin */
    word-wrap: break-word;
           
}
 .container span {
    position: relative;
    color: #5fc4f1;
}

 .container span::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: #5fc4f1;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    animation: type_effect 0.59s linear infinite;
}


@keyframes type_effect {
    50% {
        opacity: 0;
    }
    0%,100% {
        opacity: 1;
    }
}

@media (max-width: 535px) {
    .container span::before {
        content: '';
        position: absolute;
        height: 40px;
        width: 3px;
        background-color: #5fc4f1;
        top: 80%;
        right: 63px;
        transform: translateY(-50%);
    }
}